@using SecureDigitalHealthcare.Controllers
@using SecureDigitalHealthcare.Utilities
@model SecureDigitalHealthcare.DTOs.ChangePasswordDTO

@inject AppController<AccountController> accountController

@{
    ViewData["Title"] = "Forget Password";
}
@functions
{
    public string GetUrlActionSendResetLink()
    {
        return accountController.CallAction(x => x.SendForgetPasswordLinkPassword(""));
    }
}


<h4>Forgot your password? Input your email and then click on reset link recieved in your email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="@GetUrlActionSendResetLink()" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.AntiForgeryToken()
            <div class="form-group mt-2">
                <label asp-for="Email" class="control-label mt-1"></label>
                <input asp-for="Email" class="form-control mt-1" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @* <div class="form-group mt-2">
                <label asp-for="Password" class="control-label mt-1"></label>
                <input asp-for="Password" class="form-control mt-1" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div> *@

            <div class="form-group mt-2">
                <input type="submit" value="Submit" class="btn btn-primary mt-1" />
            </div>
        </form>
    </div>
</div>

<div>

    @{
        await Html.RenderPartialAsync($"_{ViewDataConstants.ValidationMessage}");
    }
    @* <a asp-action="Index">Back to List</a> *@
</div>


