@model EasyHealth.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div>
    <div class="card-body">
        <form asp-action="Login" method="post">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" required>
            </div>
            <div class="form-check mb-3">
                <input asp-for="RememberMe" type="checkbox" class="form-check-input">
                <label class="form-check-label">Remember Me</label>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <a asp-controller="Account" asp-action="SignUp" class="link-success"> You are new to our website? Create an account now!</a>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>


        @{
            await Html.RenderPartialAsync($"_{ViewDataConstants.ValidationMessage}");
        }
    </div>
</div>
