@{
    string validationMessage = ViewData[ViewDataConstants.ValidationMessage] as string;
}

@if (!string.IsNullOrEmpty(validationMessage))
{
    <div class="alert alert-warning mt-3" role="alert">
        @validationMessage
    </div>
}