@{
    ViewBag.Title = "Chat Room";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Chat Room</h2>
            <div id="chatArea" class="mb-3"></div>
            <input type="text" id="messageInput" class="form-control mb-3" placeholder="Type your message here...">
            <button id="sendButton" class="btn btn-primary">Send</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

            connection.on("ReceiveMessage", function (user, message) {
                var encodedMessage = $('<div />').text(message).html();
                var encodedUser = $('<div />').text(user).html();
                $('#chatArea').append('<strong>' + encodedUser + '</strong>: ' + encodedMessage + '<br/>');
            });

            connection.start().then(function () {
                $('#sendButton').click(function () {
                    var message = $('#messageInput').val();
                    connection.invoke("SendMessage", message);
                    $('#messageInput').val('').focus();
                });
            }).catch(function (err) {
                return console.error(err.toString());
            });
        });
    </script>
}
