@{
    ViewData["Title"] = "CustomUser";
}


<div class="container-fluid p-5 my-5 bg-primary text-white">
    <div class="row bg-dark">
        <div class="col-3 bg-success d-flex align-items-center justify-content-center p-5" style="height: 100px;">
            <img class="img-fluid" style="max-width: 100%; height: 100%;" alt="Cinque Terre"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/800px-Bootstrap_logo.svg.png" />
        </div>
        <div class="col-9 align-items-center d-flex" style="height: 100px;">
            <!-- Your content here -->
            <p>This is a sample image.</p>
        </div>
    </div>
</div>



